{% extends 'news/base.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="font-weight-600 mb-4">
                {{kind|upper}} - [ {{slug|upper}} ]
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-8">
              
              {% for i in page_list %}
              <div class="row">
                <div class="col-sm-4 grid-margin">
                  <div class="rotate-img">
                    <img
                      src="/media/{{i.file_path}}"
                      alt="banner"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-sm-8 grid-margin">
                  <h2 class="font-weight-600 mb-2">
                    {{i.title|truncatewords_html:7|safe}}
                  </h2>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">Photo </span>{{i.created_at}}
                  </p>
                  <p class="fs-15">
                    <a href="/detail/{{i.slug}}/">{{i.content|truncatewords_html:10|safe}} </a>
                  </p>
                  
                </div>
              </div>
              {% endfor %}
              
            </div>
            <div class="col-lg-4">
              <h2 class="mb-4 text-primary font-weight-600">
                Trending News
              </h2>
              
              {% for i in trending_news %}
              <div class="row">
                <div class="col-sm-12">
                  <div class="border-bottom pb-4 pt-4">
                    <div class="row">
                      <div class="col-sm-8">
                        <h5 class="font-weight-600 mb-1">
                          <a href="/detail/{{i.slug}}/">{{i.title|truncatewords_html:7|safe}}</a>
                        </h5>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>{{i.created_at}}
                        </p>
                      </div>
                      <div class="col-sm-4">
                        <div class="rotate-img">
                          <img
                            src="/media/{{i.foto}}"
                            alt="banner"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              

              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-panel ends -->
<!-- container-scroller ends -->

{% endblock %}            

