{% load static %}
<!-- inject:js -->
<script src="{% static '/news/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="{% static '/news/assets/vendors/aos/dist/aos.js/aos.js' %}"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="{% static '/news/assets/js/demo.js' %}"></script>
<script src="{% static '/news/assets/js/jquery.easeScroll.js' %}"></script>
<!-- End custom js for this page-->