{% load static %}
<link
rel="stylesheet"
href="{% static '/news/assets/vendors/mdi/css/materialdesignicons.min.css' %}"
/>
<link rel="stylesheet" href="{% static '/news/assets/vendors/aos/dist/aos.css/aos.css' %}" />

<!-- End plugin css for this page -->
<link rel="shortcut icon" href="{% static '/news/assets/images/favicon.png' %}" />

<!-- inject:css -->
<link rel="stylesheet" href="{% static '/news/assets/css/style.css' %}">
<!-- endinject -->

<style>
    .footer-top a {
        color: white;
    }

    a {
        color: white;
    }

    a:hover {
        color: burlywood;
        text-decoration: none;
    }

    p > a {
        color: grey;
    }

    h5 > a {
        color: grey;
    }

    h2 > a {
        color: grey;
    }

    .content-wrapper {
        padding: 30px 0;
    }
    
    .aboutus-wrapper {
        padding: 0 30px;
    }
</style>
